# IntelliJ IDEA
.idea/
*.iml

# Compiled class files
*.class

# Output folder
out/

# Logs
*.log

# MacOS / Windows system files
.DS_Store
Thumbs.db

# Maven / Gradle cache (se usar)
target/
build/
.gradle/
